$ic-background-color: #43ac6a;
$ic-border-color: rgba($color: #000000, $alpha: 0.2);

.indicie-card {
  border: 1px solid rgb(211, 205, 205);
  margin-bottom: 1em;
  background: $ic-background-color;
  color:  rgba(255,255,255, 0.7);
  .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 160px;
      .index-name {
          text-align: center;
          font-size: 1.4em;
          font-weight: 300;
          padding: 4px 8px;
          color: #fff;
          border-bottom: 1px solid $ic-border-color;
      }
      .base-info {
        flex-direction: row;
        font-size: 1.2em;
        display: flex;
        padding: 4px 8px;
          > div {
            flex: 1;
            .base-info-data {
                font-size: 1.4em;
                color: #fff;
            }
          }
      }
      .bottom-section {
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
        .bottom-item {
            flex: 1;
            border: 1px solid $ic-border-color;
            padding: 4px 8px;
            &:hover {
                background: darken($ic-background-color, 15%);
                cursor: pointer;
            }
        }
      }
  }
}