@import '../../styles/yeti-variables';

.cluster-details {

}

.node-details {
  .table {
    thead {
      th {
        width: 100%;
        cursor: pointer;
        font-size: 1.2em;
        white-space: nowrap;
      }
    }
    tbody {
      td {
        font-size: $font-size-medium;
      }
    }
  }
}