.cluster-details {
  .summary-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    background: rgb(224, 224, 224);
  }
  .search-input {
      margin-bottom: 20px;
  }
  .sorter-group,
  .sorter-group > .btn,
  .sorter-group > .dropdown-menu{
      width: 100%;
  }
}