<div class="col-md-12">
    <a class="btn btn-primary pull-right"tooltip-placement="bottom"
                        uib-tooltip="Add an Alias to this Index." ng-click="iATabContentCtrl.createAlias()">Create Alias</a>
</div>
<div class="index-aliases-tab-content" ts-wrapper ts-per-page-default="10">
    <table class="table table-condensed table-hover ">
        <thead>
        <tr>
            <th>Index</th>
            <th>Alias</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="alias in iATabContentCtrl.aliases" ts-repeat ts-hide-no-data>
            <td>{{alias.index_name}}</td>
            <td>{{alias.alias}}</td>
            <td><a class="btn btn-danger" ui-sref-active="active"
                   ng-click="iATabContentCtrl.deleteAlias(alias.alias)"
                   tooltip-placement="top"
                   uib-tooltip="Delete this Alias"><i class="fa fa-remove"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>