<div class="index-metric-search ">
    <h4>Search Totals</h4>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Primaries</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Query Total</td>
                <td>{{indexMetricGetCtrl.stats.primaries.search.query_total | numeral: '0[,][0]'}}</td>
                <td>{{indexMetricGetCtrl.stats.total.search.query_total | numeral: '0[,][0]'}}</td>
            </tr>
            <tr>
                <td>Missing</td>
                <td>{{indexMetricGetCtrl.stats.primaries.search.missing_total | numeral: '0[,][0]'}}</td>
                <td>{{indexMetricGetCtrl.stats.total.search.missing_total | numeral: '0[,][0]'}}</td>
            </tr>
            <tr>
                <td>Gets</td>
                <td>{{indexMetricGetCtrl.stats.primaries.search.total | numeral: '0[,][0]'}}</td>
                <td>{{indexMetricGetCtrl.stats.total.search.total | numeral: '0[,][0]'}}</td>
            </tr>
        </tbody>
    </table>
</div>