<div class="cluster-indices">
    <div class="row">
        <div class="col-md-12">
            <eshq-cluster-navigation></eshq-cluster-navigation>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-if="!!clusterIndicesCtrl.fetchingIndices">
            <div class="summary-loader">
                <div>
                    Loading Indices <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="divider-3"></div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <div class="btn-group pull-right">
                <a class="btn btn-default" ng-click="clusterIndicesCtrl.refreshIndex()" tooltip-placement="bottom" uib-tooltip="Refresh the entire cluster."><i class="fa fa-refresh"></i>
                    Refresh</a>
                <a class="btn btn-default" ng-click="clusterIndicesCtrl.forceMergeIndex()" tooltip-placement="bottom" uib-tooltip="Force merge segments across all nodes in the cluster."><i
                        class="fa fa-compress"></i>
                    Force Merge</a>
                <a class="btn btn-default" ng-click="clusterIndicesCtrl.flushCache()" tooltip-placement="bottom" uib-tooltip="Flush the cache to disk across the cluster."><i class="fa fa-rotate-right"></i>
                    Flush</a>
                <a class="btn btn-default" ng-click="clusterIndicesCtrl.clearCache()" tooltip-placement="bottom" uib-tooltip="Clear the field data cache on all nodes."><i class="fa fa-eraser"></i> Clear
                    Cache</a>
                <a class="btn btn-default" ng-click="clusterIndicesCtrl.expungeDeleted()" tooltip-placement="bottom" uib-tooltip="Force remove deleted items for the entire cluster."><i class="fa fa-trash-o"></i>
                    Expunge Deleted</a>
                <a class="btn btn-primary" ng-click="clusterIndicesCtrl.createIndex()" tooltip-placement="bottom" uib-tooltip="Create a new index with shard settings."><i class="fa fa-edit"></i>
                    Create Index</a>
                <a class="btn btn-primary" ng-click="clusterIndicesCtrl.reIndex()" tooltip-placement="bottom" uib-tooltip="Copy index data or just the mapping to a new location."><i class="fa fa-copy"></i>
                    Re-Index</a>
            </div>
        </div>
    </div>
    <div class="divider-5"></div>
    <eshq-indices-table ng-if="!clusterIndicesCtrl.fetchingIndices"
                        indices="clusterIndicesCtrl.indices"></eshq-indices-table>
</div>