<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        Copy Index in <span style="color:rebeccapurple;font-weight:400">{{clusterName}}</span> Cluster
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div>
        <form name="ciForm" class="reindexForm">
            <div class="form-group">
                <label>Source Index</label>
                <select class="form-control" id="source_index">
                    <!--<li ng-repeat="node in clusterNavCtrl.summary.nodes">-->
                    <option ng-repeat="index in indices" value="{{index.index_name}}">{{index.index_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Destination Index</label>
                <select class="form-control" id="destination_index">
                    <option ng-repeat="index in indices" value="{{index.index_name}}">{{index.index_name}}</option>
                </select>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Copy Mapping and Data
                </label>
                <br/>
                <small><i>Performs a complete reindex of all data, using the <a
                        href="https://www.elastic.co/guide/en/elasticsearch/reference/master/docs-reindex.html"
                        target="_blank">ES API</a>.</i></small>
            </div>
            <div class="divider-3"></div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                       checked>
                <label class="form-check-label" for="exampleRadios1">
                    Copy Mapping Only
                </label>
                <br/>
                <small><i>Clones the mapping and does <strong>not</strong> copy any documents.</i></small>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!ciForm.$valid" type="button" ng-click="save()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>