<div class="index-metric-get ">
    <h4>Get Totals</h4>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Primaries</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Exists</td>
                <td>{{iMDocsCtrl.stats.primaries.get.exists_total | numeral: '0[,][0]'}}</td>
                <td>{{iMDocsCtrl.stats.total.get.exists_total | numeral: '0[,][0]'}}</td>
            </tr>
            <tr>
                <td>Documents</td>
                <td>{{iMDocsCtrl.stats.primaries.docs.count| numeral: '0[,][0]'}}</td>
                <td>{{iMDocsCtrl.stats.total.docs.count}}</td>
            </tr>
            <tr>
                <td>Deleted</td>
                <td>{{iMDocsCtrl.stats.primaries.docs.deleted| numeral: '0[,][0]'}}</td>
                <td>{{iMDocsCtrl.stats.total.docs.deleted| numeral: '0[,][0]'}}</td>
            </tr>
            <tr>
                <td>Field Data Cache</td>
                <td>{{iMDocsCtrl.stats.primaries.fielddata.memory_size_in_bytes | numeral: '0[.][0] b'}}</td>
                <td>{{iMDocsCtrl.stats.total.fielddata.memory_size_in_bytes | numeral: '0[.][0] b'}}</td>
            </tr>
        </tbody>
    </table>
</div>