<div class="index-metrics-tab-content ">
    <div class="row">
        <div class="col-md-6">
            <eshq-index-metric-health summary="iMTabContentCtrl.summary"
                                        stats="iMTabContentCtrl.stats"></eshq-index-metric-health>
        </div>
        <div class="col-md-6">
            <eshq-index-metric-docs summary="iMTabContentCtrl.summary"
                stats="iMTabContentCtrl.stats"></eshq-index-metric-docs>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Search Totals
        </div>
        <div class="col-md-6">
            Indexing Totals
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Get Totals
        </div>
        <div class="col-md-6">
            Operations
        </div>
    </div>
</div>