<div class="index-metrics-tab-content ">
    <div class="row">
        <div class="col-md-6">
            <eshq-index-metric-health summary="iMTabContentCtrl.summary"
                                        stats="iMTabContentCtrl.stats"></eshq-index-metric-health>
        </div>
        <div class="col-md-6">
            <eshq-index-metric-docs summary="iMTabContentCtrl.summary"
                stats="iMTabContentCtrl.stats"></eshq-index-metric-docs>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <eshq-index-metric-search summary="iMTabContentCtrl.summary"
                stats="iMTabContentCtrl.stats"></eshq-index-metric-search>
        </div>
        <div class="col-md-6">
            <h4>Indexing Totals</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <eshq-index-metric-get summary="iMTabContentCtrl.summary"
                stats="iMTabContentCtrl.stats"></eshq-index-metric-get>
        </div>
        
        <div class="col-md-6">
            <h4>Operations</h4>
        </div>
    </div>
</div>