<div class="index-metrics-tab-content ">
    <div class="row">
        <div class="col-md-6">
            <eshq-index-metric-docs summary="iMTabContentCtrl.summary"
                stats="iMTabContentCtrl.stats"></eshq-index-metric-docs>
        </div>
        <div class="col-md-6">
            <eshq-index-metric-search summary="iMTabContentCtrl.summary"
                stats="iMTabContentCtrl.stats"></eshq-index-metric-search>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <eshq-index-metric-index summary="iMTabContentCtrl.summary"
                stats="iMTabContentCtrl.stats"></eshq-index-metric-index>
        </div>
        <div class="col-md-6">
            <eshq-index-metric-querycache summary="iMTabContentCtrl.summary"
                stats="iMTabContentCtrl.stats"></eshq-index-metric-querycache>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <eshq-index-metric-get summary="iMTabContentCtrl.summary"
                stats="iMTabContentCtrl.stats"></eshq-index-metric-get>
        </div>
        <div class="col-md-6">
            <eshq-index-metric-ops summary="iMTabContentCtrl.summary"
                stats="iMTabContentCtrl.stats"></eshq-index-metric-ops>
        </div>
    </div>
</div>