<div class="index-administration-tab-content ">
    <table class="table administration">
        <tbody>
            <tr>
                <td class="action-btn"><a class="btn btn-default btn-block" ng-click="cIndDetailsCtrl.flushCache()">Flush Cache</a></td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos mollitia sed sunt dolores ipsa id maiores quam quae cum, adipisci laboriosam at sint, suscipit perferendis obcaecati dolorem iure dolor tempora.</td>
            </tr>
            <tr>
                <td class="action-btn"><a class="btn btn-default btn-block" ng-click="cIndDetailsCtrl.clearCache()">Clear Cache</a></td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos mollitia sed sunt dolores ipsa id maiores quam quae cum, adipisci laboriosam at sint, suscipit perferendis obcaecati dolorem iure dolor tempora.</td>
            </tr>
            <tr>
                <td class="action-btn"><a class="btn btn-default btn-block" ng-click="cIndDetailsCtrl.optimizeIndex()">Optimize Index</a></td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos mollitia sed sunt dolores ipsa id maiores quam quae cum, adipisci laboriosam at sint, suscipit perferendis obcaecati dolorem iure dolor tempora.</td>
            </tr>
            <tr>
                <td class="action-btn"><a class="btn btn-default btn-block" ng-click="cIndDetailsCtrl.refreshIndex()">Refresh Index</a></td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos mollitia sed sunt dolores ipsa id maiores quam quae cum, adipisci laboriosam at sint, suscipit perferendis obcaecati dolorem iure dolor tempora.</td>
            </tr>
            <tr>
                <td class="action-btn"><a class="btn btn-warning btn-block" ng-click="cIndDetailsCtrl.closeIndex()">Close Index</a></td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos mollitia sed sunt dolores ipsa id maiores quam quae cum, adipisci laboriosam at sint, suscipit perferendis obcaecati dolorem iure dolor tempora.</td>
            </tr>
            <tr>
                <td class="action-btn"><a class="btn btn-danger btn-block" ng-click="cIndDetailsCtrl.deleteIndex()">Delete Index</a></td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos mollitia sed sunt dolores ipsa id maiores quam quae cum, adipisci laboriosam at sint, suscipit perferendis obcaecati dolorem iure dolor tempora.</td>
            </tr>
        </tbody>
    </table>
</div>