<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Elastic Search - HQ</title>
    <link href="static/app.bundle.css?13996294131c5f6bc3a7" rel="stylesheet"></head>
    <body ng-app="eshq" ng-strict-di>
        <eshq-top-nav></eshq-top-nav>
        <div class="container-fluid">
            <div ui-view></div>
        </div>
        <eshq-footer></eshq-footer>
    <script type="text/javascript" src="static/commons.13996294131c5f6bc3a7.js?13996294131c5f6bc3a7"></script><script type="text/javascript" src="static/main.13996294131c5f6bc3a7.js?13996294131c5f6bc3a7"></script></body>
</html>