<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Elastic Search - HQ</title>
    <link href="/static/app.bundle.css?8ba719ee33007a06a81b" rel="stylesheet"></head>
    <body ng-app="eshq" ng-strict-di>
        <eshq-top-nav></eshq-top-nav>
        <div class="container-fluid">
            <div ui-view></div>
        </div>
        <eshq-footer></eshq-footer>
    <script type="text/javascript" src="/static/commons.8ba719ee33007a06a81b.js?8ba719ee33007a06a81b"></script><script type="text/javascript" src="/static/main.8ba719ee33007a06a81b.js?8ba719ee33007a06a81b"></script></body>
</html>