<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Elastic Search - HQ</title>
    <link href="/static/app.bundle.css?c83687d380506bb623da" rel="stylesheet"></head>
    <body ng-app="eshq" ng-strict-di>
        <eshq-top-nav></eshq-top-nav>
        <div class="container-fluid">
            <div ui-view></div>
        </div>
        <eshq-footer></eshq-footer>
    <script type="text/javascript" src="/static/commons.c83687d380506bb623da.js?c83687d380506bb623da"></script><script type="text/javascript" src="/static/main.c83687d380506bb623da.js?c83687d380506bb623da"></script></body>
</html>