.top-nav {
  .clusters-button {
    margin-top: 0.65em;
  }
}

.navbar-nav {
  li > a {
    color: #FFFFFF;
  }
}

.navbar-brand {
  background-color: #1C2B36;
  display: block;
  font-size: 28px !important;
  white-space: nowrap;
  float: left;
  font-family: 'Roboto', sans-serif;
  outline: none !important;
  line-height: 60px;

  span {
    color: #FFFFFF;
  }

  .a {
    font-size: 50px;
  }

}