<div class="top-nav ">
    <nav ng-if="topNavCtrl.isNotRoot" class="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Elastic</span><b>HQ</b></a>
            </div>

                
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="pull-left">
                        <eshq-clusters-button></eshq-clusters-button>
                </div>
                <ul class="pull-right nav navbar-nav">
                    <li><a ui-sref="settings.clusters" tooltip-placement="bottom"
                           uib-tooltip="Personalize ElasticHQ"><i
                            class="fa fa-cog"></i> Settings</a></li>
                    <li><a href="http://www.elastichq.org/support.html" target="_blank"  tooltip-placement="bottom"
                           uib-tooltip="Forums, Docs, and Issues."><i
                            class="fa fa-support"></i> Get Help</a></li>
                    <li><a href="https://github.com/royrusso/elasticsearch-HQ" target="_blank"  tooltip-placement="bottom"
                           uib-tooltip="Thank you for your support!"><i
                            class="fa fa-github"></i> Star us on GitHub</a></li>
                </ul>                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>