
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

//$border-radius-base:        0px !default;
//$border-radius-large:       0px !default;
//$border-radius-small:       0px !default;

@import './yeti-variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import './yeti-bootswatch';
@import '~font-awesome/scss/font-awesome.scss';

// Removes horizontal scrollbar that's sometimes caused by the "divider-#" classes below.
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.summary-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
  background: rgb(224, 224, 224);
}

.alert.summary-panel {
  text-align: center;
  padding: 10px 15px;
  .number { font-size: 1.8em; }
  .summary-label { font-size: 1.0em; }
}
.icon-label {
  &.green {
    color: $brand-success;
  }
  &.yellow {
    color: $brand-warning;
  }
  &.red {
    color: $brand-danger;
  }
}
.status-label {
  &.green {
    background: $brand-success;
  }
  &.yellow {
    background: $brand-warning;
  }
  &.red {
    background: $brand-danger;
  }
}

.divider-3 {
  width: 100%;
  min-height: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline-block;
  position: relative;
}
.divider-5 {
  width: 100%;
  min-height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  position: relative;
}
.divider-10 {
  width: 100%;
  min-height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}